.body-container{
  width: 100vw;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  z-index: 222;
  overflow: visible;
  .poster-animated{
    height: 600px;
  }
  .poster-box{
    max-width: 1040px;
    z-index: 22;
    width: 100%;
    .poster{
      z-index: 33;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 60px;
      border-radius: 40px;
      background: #FAFAFA;
      font-family: MacPawFixelSemiBold;
      box-sizing: border-box;
      p{
        font-size: 32px;
        margin-bottom: 40px;
      }
      h1{
        margin-top: 0;
        font-size: 74px;
        line-height: 115%;
        b{
          color: #D36700;
        }
      }
    }
  }
  .upper-cards{
    display: flex;
    width: 1040px;
    height: 600px;
    justify-content: space-between;
    margin-top: 20px;
    z-index: 33;
    .card{
      padding: 60px;
      width: 510px;
      box-sizing: border-box;
      height: 600px;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      text-align: left;
      font-family: MacPawFixelSemiBold;
      .card-img{
        width: 388px;
        height: 286px;
      }
      .card-icon{
        width: 64px;
        height: 64px;
      }
      h5{
        color: #FAFAFA;
        font-size: 26px;
        margin: 30px 0;
        line-height: 110%;
      }
      p{
        color: #FAFAFA;
        margin: 0;
        line-height: 150%;
        letter-spacing: -0.36px;
      }
    }
  }
  .middle-block{
    width: 100%;
    margin-top: 50px;
    max-width: 1040px;
    .animate-wrapper{
      height: 600px;
    }
    .middle-poster{
      width: 100%;
      position: relative;
      padding: 60px;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      height: 600px;
      background: #EDB833;
      display: flex;
      flex-direction: column;
      border-radius: 40px;
      font-family: MacPawFixelSemiBold;
      h5{
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
        margin-bottom: 0;
      }
      h1{
        font-size: 74px;
        max-width: 850px;
        line-height: 115%;
        b{
          color: #666DA5;
        }
      }
      span{
        position: absolute;
        bottom: 0;
        align-self: center;
        margin-bottom: 30px;
        font-family: MacPawFixelMedium;
        font-size: 12px;
        line-height: 115%;
      }
    }
    .tag-animated{
      height: 600px;
    }
    .tag-container{
      background: #FAFAFA;
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      justify-content: space-between;
      padding: 120px 60px 35px 60px;
      box-sizing: border-box;
      align-items: center;
      border-radius: 40px;
      h1{
        font-size: 36px;
        font-family: MacPawFixelSemiBold;
        width: 590px;
        line-height: 115%;
        margin-bottom: 90.9px;
        margin-top: 0;
        b{
          color: #D36700;
        }
      }
      .tags{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        box-sizing: border-box;
        justify-content: space-between;
        width: 1040px;
        .marquee-container{
          width: 100%;
          box-sizing: border-box;
        }
        .tag{
          display: flex;
          align-items: center;
          padding: 12px 24px;
          margin-left: 10px;
          background: #D36700;
          border-radius: 40px;
          box-sizing: border-box;
          gap: 10px;
          img{
            width: 24px;
            height: 24px;
          }
          .tag-des{
            color: #FAFAFA;
            font-family: MacPawFixelSemiBold;
            font-size: 18px;
          }
        }
      }
    }
    .services{
      align-items: center;
      margin-top: 20px;
      justify-content: space-between;
      display: flex;
      gap: 20px;
      text-align: left;
      .small-wrapper{
        height: 600px;
        .animated{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 600px;
          gap: 20px;
          .mid-card{
            height: 290px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: #FAFAFA;
            border-radius: 40px;
            position: relative;
            .small-img{
              top: 30px;
              right: 30px;
              position: absolute;
              width: 210px;
              height: 82px;
            }
            img{
              width: 43px;
              height: 43px;
              margin-bottom: 20px;
            }
            div{
              font-family: MacPawFixelBold;
              color: var(--dino-dark, #2A2B3B);
              font-feature-settings: 'clig' off, 'liga' off;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            padding: 40px;
            box-sizing: border-box;
          }
        }
      }
      .small-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 600px;
        gap: 20px;
      }
      .large-wrapper{
        height: 600px;
        .large-card{
          background: #FAFAFA;
          padding: 40px;
          border-radius: 40px;
          box-sizing: border-box;
          width: 670px;
          height: 600px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          position: relative;
          .large-img{
            right: 30px;
            top: 30px;
            position: absolute;
            width: 420px;
            height: 420px;
          }
          img{
            width: 170px;
            height: 63px;
            margin-bottom: 20px;
          }
          div{
            font-family: MacPawFixelBold;
            color: #2A2B3B;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }

      }
    }
  }
  .lower-block{
    margin-top: 50px;
    .lower-wrapper{
      height: 600px;
      .lower-poster{
        box-sizing: border-box;
        justify-content: center;
        background: #FAFAFA;
        border-radius: 40px;
        padding: 60px;
        height: 600px;
        width: 1040px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h5{
          font-family: MacPawFixelSemiBold;
          font-size: 32px;
          line-height: 115%;
          color: #2A2B3B;
        }
        h1{
          margin: 0;
          text-align: center;
          width: 625px;
          font-family: MacPawFixelSemiBold;
          font-size: 74px;
          line-height: 115%;
          color: #2A2B3B;
          b{
            color: #7E9D00;
          }
        }
      }
    }
    .cards{
      width: 1040px;
      margin-top: 20px;
      display: flex;
      .adv-cards{
        width: 100%;
        justify-content: space-between;
        display: flex;
        .adv-wrapper{
          width: 100%;
          height: 600px;
          justify-content: space-between;
          display: flex;
          .smart-load, .Ai-assistant{
            width: 510px;
            height: 600px;
            background: #EEE;
            position: relative;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            border-radius: 40px;
            justify-content: flex-end;
            .inner-content{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              box-sizing: border-box;
              padding: 40px 60px 60px;
              font-family: MacPawFixelSemiBold;
              text-align: left;
              height: 309.07px;
              h5{
                margin: 25px 0;
                font-size: 26px;
                line-height: 28.6px;
              }
              p{
                margin: 0;
                opacity: 0.7;
                font-size: 18px;
                line-height:  27px;
                letter-spacing: -0.36px;
              }
            }
          }
        }
        .note-img{
          z-index: 22;
          top:-6%;
          left: -2%;
          width: 526px;
          height: 438px;
          position: absolute;
        }
        .card-img{
          width: 100%;
          height: 100%;
          border-radius: 40px 40px 0px 0px;
        }
        .icon{
          width: 64px;
          height: 64px;
        }
      }
    }
    .companion-container{
      display: flex;
      flex-direction: row-reverse;
      img{
        width: 512px;
        height: 100%;
        margin-left: -1px;
        border-radius: 40px 0px 0px 40px;
      }
    }
    .companion-container{
      .content-box{
        margin-top: 2px;
        img{
        }
      }
    }
    .analyst-wrapper{
      height: 600px;
    }
    .companion-wrapper{
      height: 600px;
    }
    .analyst-container, .companion-container{
      display: flex;
      margin-top: 20px;
      height: 600px;
      width: 1040px;
      border-radius: 40px;
      background: #EEEEEE;
      .content-box{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .description-wrapper{
          padding: 60px;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          align-items: flex-start;
          font-family: MacPawFixelSemiBold;
          img{
            width: 64px;
            height: 64px;
            border-radius: 0;
          }
          h5{
            font-size: 26px;
            line-height: 110%;
            margin: 30px 0;
          }
          p{
            text-align: left;
            margin: 0;
            font-size: 18px;
            opacity: 0.7;
          }
        }
      }
      .analystImg{
        width: 510px;
        height: 100%;
        border-radius: 0px 40px 40px 0px;
      }
    }
    .lower-cards{
      display: flex;
      margin-top: 20px;
      gap: 20px;
      .lower-adv-wrapper{
        height: 600px;
      }
      .adv-card{
        background: #EEEEEE;
        border-radius: 40px;
        width: 510px;
        display: flex;
        flex-direction: column;
        .lowerAdv-img{
          border-radius: 40px 40px 0px 0px;
        }
        .inner-content{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          box-sizing: border-box;
          padding: 30px 60px 60px;
          font-family: MacPawFixelSemiBold;
          text-align: left;
          height: 309.07px;
          img{
            width: 64px;
            height: 64px;
          }
          h5{
            font-size: 26px;
            margin: 30px 0;
          }
          p{
            margin: 0;
            line-height: 150%; /* 27px */
            letter-spacing: -0.36px;
            opacity: 0.7;
          }
        }
      }
    }
  }
}

@media(max-width: 430px) {
  .body-container{
    margin-top: 50px;
    .poster-animated{
      height: auto;
      .poster-box{
        height: auto;
        max-width: 335px;
        .poster{
          height: auto;
          padding: 50px 20px;
          p{
            font-size: 20px;
          }
          h1{
            font-size: 36px;
            b{
              width: 295px!important;
            }
          }
        }
      }
    }
    .upper-cards{
      margin: 0px 0;
      max-width: 335px;
      flex-direction: column;
      height: auto;
      .card{
        align-items: flex-start;
        width: 335px;
        height: auto;
        margin-top: 20px;
        padding: 50px 30px;
        .card-img{
          width: 281px;
          height: 205px;
        }
        .card-icon{
          width: 64px;
          height: 64px;
          margin-top: 20px;
        }
        h5{
          font-size: 24px;
          margin: 20px 0;
          line-height: 110%; /* 26.4px */
        }
        p{
          font-size: 16px;
          line-height: 150%; /* 24px */
          letter-spacing: -0.32px;
        }
      }
    }
    .middle-block{
      max-width: 335px;
      .animate-wrapper{
        height: auto;
        .middle-poster{
          padding: 50px 20px;
          height: 400px;
          justify-content: flex-start;
          h5{
            font-size: 20px;
            margin-top: 0;
          }
          h1{
            max-width: 260px;
            font-size: 36px;
            margin-bottom: 0;
          }
          span{
            max-width: 295px;
            font-size: 12px;
            line-height: 115%;
            margin-bottom: 50px;
          }
        }
      }
      .tag-animated{
        height: auto;
        .animated{
          .tag-container{
            padding: 50px 10px 30px 10px;
            max-height: 453px;
            border-radius: 30px;
            h1{
              max-width: 300px;
              font-size: 36px;
              margin-bottom: 40px;
            }
            .tags{
              max-width: 335px;
              .marquee-container{
              }
              .tag{
                display: flex;
                align-items: center;
                padding: 7px;
                margin-left: 10px;
                background: #D36700;
                border-radius: 40px;
                box-sizing: border-box;
                gap: 4px;
                img{
                  width: 14px;
                  height: 14px;
                }
                .tag-des{
                  color: #FAFAFA;
                  font-family: MacPawFixelSemiBold;
                  font-size: 12px;
                }
              }
            }
          }

        }
      }
      .services{
        flex-direction: column;
        .small-wrapper{
          .small-cards{
            .mid-card{
              max-width: 335px;
              width: 100%;
              padding: 30px;
              background: #FAFAFA;
              box-sizing: border-box;
            }
          }
        }
        .large-wrapper{
          height: 400px;
          .large-card{
            padding: 30px;
            max-width: 335px;
            height: 400px;
            .large-img{
              width: 230px;
              height: 230px;
              top: 12px;
              right: 4px;
            }
            img{
              width: 117px;
              height: 44px;
            }
            div{
              font-size: 20px;
            }
          }
        }
      }
    }
    .lower-block{
      max-width: 335px;
      .lower-wrapper{
        height: auto;
        .animated.animate__slideInUp{
          .lower-poster{
            justify-content: flex-start;
            max-width: 335px;
            height: 300px;
            padding: 50px 20px;
            background: #fafafa;
            border-radius: 30px;
            h5{
              font-size: 20px;
              max-width: 295px;
            }
            h1{
              max-width: 295px;
              font-size: 36px;
            }
          }
        }
      }
      .cards{
        flex-direction: column;
        max-width: 335px;
        height: auto;
        .adv-cards{
          .adv-wrapper{
            height: auto;
            flex-direction: column;
            gap: 20px;
            .smart-load{
              width: 335px;
              max-height: 400px;
              .note-img{
                width: 347px;
                height: 288px;
              }
              .inner-content{
                height: 180px;
                box-sizing: border-box;
                justify-content: flex-end;
                padding: 20px 30px 40px 30px;
                h5{
                  font-size: 20px;
                  margin: 20px 0;
                }
                p{
                  font-size: 12px;
                  line-height: 150%;
                  letter-spacing: -0.24px;
                }
                .icon{
                  width: 40px;
                  height: 40px;
                }
              }
            }
            .Ai-assistant{
              width: 335px;
              max-height: 400px;
              justify-content: space-between;
              .card-img{
                width: 100%;
                height: 202px;
              }
              .inner-content{
                height: 198px;
                justify-content: flex-end;
                padding: 20px 30px 40px 30px;
                h5{
                  font-size: 20px;
                  margin: 10px 0;
                }
                p{
                  font-size: 12px;
                  line-height: 150%;
                }
                .icon{
                  width: 40px;
                  height: 40px;
                }
              }
            }
          }
        }
      }
      .analyst-wrapper{
        height: auto;
        .analyst-container{
          height: auto;
          flex-direction: column-reverse;
          max-width: 335px;
          .content-box{
            .description-wrapper{
              padding: 20px 30px 40px 30px;
              img{
                width: 40px;
                height: 40px;
              }
              h5{
                font-size: 20px;
                line-height: 110%;
                margin: 20px 0;
              }
              p{
                font-size: 12px;
              }
            }
          }
          .analystImg{
            border-radius: 40px 40px 0 0  ;
            width: 100%;
            height: 202px;
          }
        }
      }
      .lower-cards{
        height: auto;
        flex-direction: column;
        .lower-adv-wrapper{
          height: auto;
          .animated{
            .adv-card{
              width: 335px;
              .inner-content{
                padding: 20px 30px 40px 30px;
                height: auto;
                img{
                  width: 40px;
                  height: 40px;
                }
                h5{
                  font-size: 20px;
                  line-height: 110%;
                  margin: 20px 0;
                }
                p{
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .companion-wrapper{
        height: auto;
        .companion-container{
          height: auto;
          flex-direction: column-reverse;
          justify-content: space-between;
          max-width: 335px;
          .content-box{
            max-width: 335px;
            .description-wrapper{
              padding: 20px 30px 40px 30px;
              height: auto;
              img{
                width: 40px;
                height: 40px;
                border-radius: 0;
              }
              h5{
                font-size: 20px;
                line-height: 110%;
                margin: 20px 0;
              }
              p{
                font-size: 12px;
              }
            }
          }
          img{
            margin-left: 0.5px;
            border-radius: 40px 40px 0 0 ;
            width: 100%;
            height: 202px;
          }
        }

      }
    }
  }
}
@media(min-height: 1100px){
  .body-container{
    margin-top: 15%;
  }
}